h1{
    color: red;
}

.flex-container{
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-top: 8em;
    /*color for help*/
    
}

#google-img{
    /*display: flex;
    flex:none;
    display:block;
    width: auto;
    max-width: 100%;
    height:auto;
    margin: auto;
    margin-top:8em;  OG attempt*/

    width: auto;
    max-width: 100%;
    

}

#search-bar{
    /*display: flex;
    border: gray;
    border-width: 1px;
    flex-direction:column;
    margin: auto;  OG attempt*/
    margin-top: 20px;
    border-radius: 10px;
    min-width: 500px;
    height: 30px;
    border: 1px rgb(207, 205, 205) solid;
}

.page-top{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    word-spacing: 6px;
}

#app-icon{
    height: 15px;
    width:15px;

}

#top-words{
    color:rgb(117, 114, 114);
    text-decoration: none;
}

/*#top-right{
    display: flex;
    justify-content: flex-start;


}

#top-left{
    display: flex;
    justify-content: flex-end;
}
*/